# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Исходные PDF
data/docs/*.pdf

# Результаты парсинга
data/parse/*.json

# Докер
.docker/

# Логи
*.log
